body{
    font-family: 'Playfair Display', serif;
margin: 0;
}


h1{
    font-size:20px;
}
.orange-color{
    color:orange;
}
section{
    display: flex;
    margin-bottom: 50px;
    
}


.div1{ 
    width:50%;
    
}  
.div2{
width:50%;
}

.link-Button{
    text-decoration: none;
    padding:10px 25px;
    color: rgb(19, 48, 142);
    background-image: linear-gradient(orange,blue );
    border:2px solid red;
    border-radius: 5px;
    font-weight: 700;
}
.top-banner{
    background-image:url(image/images\ \(1\).jpg);
    background-size: 100%;
}
.mid-banner{
    background-image: url(image/imageedit_1_8324817997.jpg);
background-size: 100%;
    
}
.div3{ 
    width:50%;
    
}  
.div4{
width:50%;
}